body{
    background-image: url("../images/pebbles.jpg");
    color: #194769;
    font-family: 'Gloria Hallelujah', cursive;
}
.container{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
    background-color: #F6F6E9;
    min-height: 20rem;
    border-color: #194769;
    border-style: ridge;
    border-width: 5px;
    }
h1{
    text-align: center;
    padding: 0.5rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 3.5rem;
}
#headerRow{
    margin-bottom: 2rem;
        }
#topMessage{
    display: none;
}
#headerSpacing{
    height: 5rem;
    margin: 0rem;
           }
.newGame{
    width: 25rem;
    margin: 0rem;
    height: 3rem;
    background-color: #194769;
    }
#restart{
    display: none;
}
#multipleChoice{
    display: none;
    margin-left: 30%;
    padding-bottom: 3rem;
}
#questionRow{
    display: block;
    margin-left: 30%;
}
#gameResults{
    display: block;
}
#feedbackRow{
    display: block;
}
#feedback{
    min-height: 1rem;
}
#feedbackGif{
    display: none;
    margin: 2rem;
}
#timeRemaining{
    font-size: 1.5rem;
    font-weight: 400;
    min-height: 3rem;
}
.form-check{
    width: 12rem;
    }
